.spacer {
    flex:1 1 auto;
}
.btn-home {
    margin: 16px;
}

.col-md-4 {
    margin-left: 15px;
}

.example-card {
    max-width: 100px;
    margin-left: 20px;
  }
  
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  .btn-home {
    display: flex;
    margin: 16px;
  }