<mat-toolbar color="primary" class="mat-elevation-z6">
<span><mat-icon>fastfood</mat-icon>Name</span>

<div class="spacer"></div>
    <a mat-button>Admin</a>
    <a mat-raised-button color="accent">Exit</a>
</mat-toolbar>
<div fxLayout="row" class="btn-home">
<div class="col-md-4 col-4">
    <button class="btn btn-lg btn-info">Comidas</button>
  </div>
  <div class="col-md-4 col-4">
    <button class="btn btn-lg btn-info">Bebidas</button>
  </div>
  <div class="col-md-4 col-4">
    <button class="btn btn-lg btn-info">Extras</button>
  </div>
</div>  