<mat-toolbar color="primary" class="mat-elevation-z6">
<span><mat-icon>fastfood</mat-icon>Name</span>

<div class="spacer"></div>
    <a mat-button>Admin</a>
    <a mat-raised-button color="accent">Exit</a>
</mat-toolbar>
<div fxLayout="row" class="btn-home">
<div class="col-md-4 col-4">
    <button mat-raised-button color="accent" class="btn btn-lg btn-info" (click)="getProducts('desa')">Desayunos</button>
  </div>
  <div class="col-md-4 col-4">
    <button mat-raised-button color="accent" class="btn btn-lg btn-info" (click)="getProducts('nodesa')">Almuerzos y cena</button>
  </div>
</div> 

<div fxLayout="row" class="btn-home">
  <tr *ngFor= "let product of products; index as i">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>S/{{product.price}}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/menu/{{product.image}}"
      alt="{{product.image}}"
    />
    <mat-card-content>
      <p>
        ga
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>añadir al carro</button>
    </mat-card-actions>
  </mat-card>
</tr>
</div>